#a{
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.b2{ display: flex;
    color: white;
}
.c4{display: flex;margin-left: 220px; }

.q{margin-left: 00px;margin-top:00px;height:40px ;width: 700px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.z2{text-align: center;color: white;margin-left: 60px;font-size:70px;margin-top: 20px;}

.c2{
    text-align: center;
    color: white;
    font-size: 40px;
    
}
#b{
    display: flex;
}
.a2{
    margin-left: 80px;
    height: 300px;
    width: 300px; background-color: antiquewhite;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.j1{border-top-left-radius: 20px;border-top-right-radius: 20px;}
.j1:hover{height:230px;width:300px;transition: 2s;}
.a3{
    margin-left: 80px;
    height: 300px;
    width: 300px; background-color: antiquewhite;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.a4{
    margin-left: 80px;
    height: 300px;
    width: 300px; background-color: antiquewhite;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.b1{
    margin-left: 300px;
    padding: 10px;
}
.b2{
    padding: 10px;
}
.c1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.d1{
    display: flex;
}
.d1{
    margin-left: 70px;
    font-size: xx-large;
}
.d2{margin-left: 70px;}
.d3{color: brown;}.d4{display: flex;}
.z1{margin-left: 50px;}
.p1{margin-left: 50px; font-size:xx-large;}
.p2{margin-left: 50px;width: 400px;height: 100px;background-color: aliceblue;border-top-left-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 10px;}.p3{font-size:x-large;margin-left: 10px;}.p4{font-size: medium;margin-left: 10px;}
#g1{display: flex;}#g2{display:flex;}#g3{display: flex;}
.m1{font-size: 30px;margin-left: 50px;}

.t1{font-size: 23px;margin-left: 10px;}
.t2{margin-left: 10px;}
#e{display: flex;margin-left: 200px;}.x2{display: flex;}.x1{margin-top: 20px;}.x3{margin-left: 30px;}.x4{color: whitesmoke;background-color: red;border-top-left-radius: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 10px;}.x5{font-size:15px;}.x8{display: flex;margin-bottom: 30px;}.x7{margin-left: 10px;}
.s1{display: flex; margin-left: 50px; height: 50px; width: 800px;background-color:oldlace;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}.s2{margin-left: 20px;margin-top: 10px;}.s3{margin-left: 500px;margin-top:10px;}.s4{margin-left: 560px;margin-top: 10px;}
.l1{display: flex;}.l2{margin-left: 50px;}.l3{display: flex; margin-left: 800px;height: 30px; width: 120x;background-color: antiquewhite; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}.l4{margin-left: 10px;}.l6{margin-left: 50px;height:30px;width: 80px;background-color:antiquewhite;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.k{display: flex;}.k1{display: flex;}.k2{display: flex;}.k3{display: flex;}.k4{display: flex;} .k5{display: flex;}.k6{margin-left: 60px;}
.y{display: flex;}.material-icons{background-color: aliceblue;}












